<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Everyman RSS</title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.0.0/github-markdown-dark.min.css"
    integrity="sha512-TU0w4Ex7vjK/9WwlUB6Gtni2VFgR6uo2NZFMsuEILlu8nq+UfJprwKB4JcoJP1OnlQux3vcAKcsjbSU17jgjvA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <style>
    body {
      background-color: #0d1117;
    }

    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }

    @media (max-width: 767px) {
      .markdown-body {
        padding: 15px;
      }
    }
  </style>
</head>
<body>
  <article class="markdown-body">
    <h1>Everyman RSS</h1>
    <p>
      Read about the project:
      <a href="https://github.com/revett/everyman-rss">github.com/revett/everyman-rss</a>
    </p>

    <h2>Cinemas</h2>
    <table>
      <thead>
        <tr>
          <th>Cinema</th>
          <th>RSS Feed</th>
        </tr>
      </thead>
      <tbody>
      {{range .}}
        <tr>
          <td>
            <a href="https://www.everymancinema.com/{{.Slug}}">{{.Name}}</a>
          </td>
          <td>
            <a href="https://everyman-rss.vercel.app/films?cinema={{.Slug}}">
              https://everyman-rss.vercel.app/films?cinema={{.Slug}}
            </a>
          </td>
        </tr>
      {{end}}
      </tbody>
    </table>
  </article>
</body>
</html>
